h1{
  color: red;
  font-family: fantasy;
  font-size: 80px;
  line-height: 30px;
  text-align: center;
}

h2{
  text-align: center;
  font-weight: bolder;
}

p{
  font-size: 20px;
  line-height: 15px;
}

ul{
  color: blue;
  font-style: italic;
}
